In [63]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [64]:
model_data= pd.read_csv('Dataset/processeddata.csv')

In [65]:
model_data.drop(["Unnamed: 0","Id"],axis=1,inplace=True)

## Encoding
xgboost has internal label encoding so ı do not prefer to use a encoder.

#### problem:
when ı use this to encoding:
    model_data = pd.get_dummies(data)
ı could not handle with xgboost, it gives me assertionerror.

In [66]:
model_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.7           3.2            1.6           0.2  Iris-setosa
2            4.9           3.1            1.5           0.1  Iris-setosa
3            4.4           2.9            1.4           0.2  Iris-setosa
4            5.0           3.4            1.5           0.2  Iris-setosa

In [67]:
x_data = model_data.iloc[:,:4]
x_data.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
149            5.7           2.5            5.0           2.0
150            6.8           3.0            5.5           2.1
151            6.4           2.7            5.3           1.9
152            7.2           3.6            6.1           2.5
153            6.3           3.3            6.0           2.5

In [68]:
y_data = model_data.iloc[:,-1]
y_data.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

## Train-Test Split and XGBoost Model

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x_data,y_data,
                                                   test_size=0.25,
                                                   random_state=41)

In [70]:
xgb_cls= xgb.XGBClassifier(objective="multi:softmax", 
                           num_class=3)

In [77]:
xgb_cls.fit(x_train,y_train)

[19:05:56] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\hazal\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=12, num_class=3, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [72]:
pred = xgb_cls.predict(x_test)

## Metrics

In [73]:
accuracy_score(y_test,pred)

0.9743589743589743

In [74]:
confusion_matrix(y_test,pred)

array([[12,  0,  0],
       [ 0, 12,  0],
       [ 0,  1, 14]], dtype=int64)

In [75]:
pd.crosstab(index=y_test,columns=pred,
           rownames=['actual'],
           colnames=['predictions'])

predictions      Iris-setosa  Iris-versicolor  Iris-virginica
actual
Iris-setosa               12                0               0
Iris-versicolor            0               12               0
Iris-virginica             0                1              14

In [76]:
print(classification_report(y_test,pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        12
Iris-versicolor       0.92      1.00      0.96        12
 Iris-virginica       1.00      0.93      0.97        15

       accuracy                           0.97        39
      macro avg       0.97      0.98      0.98        39
   weighted avg       0.98      0.97      0.97        39